Ultimate Personal Assistant.json
{
  "name": "Ultimate Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2432,
        512
      ],
      "id": "6cb5d744-6d21-4303-b8ff-6b32f19e14fd",
      "name": "Tavily"
    },
    {
      "parameters": {
        "content": "# Parent Agent\n\n",
        "height": 260,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        128
      ],
      "typeVersion": 1,
      "id": "d8d821e6-6dea-47ba-ae6f-9da3eff4569c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Children\n## Sub-Workflows\n",
        "height": 200,
        "width": 800,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        720
      ],
      "typeVersion": 1,
      "id": "0aaecdf3-818c-4a3b-9cc1-a8dad8c086ae",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2448,
        800
      ],
      "id": "7dc82ac8-1ce8-4a2f-b9b8-1e1f4e889c41",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "# Think\n",
        "height": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        720
      ],
      "id": "1b08d198-d765-48ee-a312-e42c8c496e3e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3P8pLJt1C0HurS6y",
          "mode": "list",
          "cachedResultUrl": "/workflow/3P8pLJt1C0HurS6y",
          "cachedResultName": "Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1760,
        784
      ],
      "id": "63283dc5-4163-4fec-a597-d6c0b5f853ac",
      "name": "Call 'Email Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mSd4VMAQYnOiBTle",
          "mode": "list",
          "cachedResultUrl": "/workflow/mSd4VMAQYnOiBTle",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1920,
        784
      ],
      "id": "69e6fe16-bb40-452b-a2e5-b7da1471651f",
      "name": "Call 'Calendar Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QsPY7dc9OIRj2g6w",
          "mode": "list",
          "cachedResultUrl": "/workflow/QsPY7dc9OIRj2g6w",
          "cachedResultName": "Contact Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2080,
        768
      ],
      "id": "197029fc-04dc-4e24-985d-3398e4dc8213",
      "name": "Call 'Contact Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WwP81BOLL62rTD2l",
          "mode": "list",
          "cachedResultUrl": "/workflow/WwP81BOLL62rTD2l",
          "cachedResultName": "Content Creator Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2224,
        784
      ],
      "id": "df04b227-dfba-4636-bd3b-cda6f8efa370",
      "name": "Call 'Content Creator Agent'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1408,
        224
      ],
      "id": "8b93cee6-58dd-4cef-816c-b2696783a563",
      "name": "Webhook",
      "webhookId": "dda6a84c-8ed1-4b51-90a4-b1e52f1fcd1d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2432,
        224
      ],
      "id": "6c1ef816-6154-4f68-8a12-238c9ab70265",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1728,
        512
      ],
      "id": "412f57c4-2af2-48cf-b34c-5d0dfa0f2d32",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- Think: Use this to think deeply or if you get stuck\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Instructions\n1) Call the neccessary tools based on the user request\n2) Use the \"Think\" tool to verify you took the right steps. This tool should be called every time.\n\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1888,
        224
      ],
      "id": "bf58a5af-937f-4186-84fa-fa6745bf049a",
      "name": "cortX"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        512
      ],
      "id": "5f85052b-c793-4665-824f-88d16d501bcb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eMCVb7pslF5H42j0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2624,
        496
      ],
      "id": "4667eba9-42b3-442d-b1d5-84991b0e56f2",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Email Agent'": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Calendar Agent'": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Contact Agent'": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Content Creator Agent'": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "cortX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "cortX",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "cortX": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "cortX",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "cortX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39a6d614-fd8b-416d-a1ee-798cb071ad72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34fc1a48517ef10575d7c63f0d1252cc3ba0c41039416081ae7299b6a23a1e11"
  },
  "id": "o0SHu8FOFqqFAie3",
  "tags": []
}